{% extends 'base.html' %}
{% block content %}


<h1 class="detail-header">{{ destination.city }}</h1>

<div>
	<!-- <p>{{ destination.country }}</p> -->
	<p>City: {{ temperature_time_zone.city }}</p>
	<p>Temp: {{ temperature_time_zone.temp }}</p>
	<!-- <p>test: {{ temptimezone }}</p>
	<p>Temperature Farenheit: {{ temperatureF }}</p>
	<p class="description">{{ destination.location_description }}</p> -->
</div>

<div class="row">
	{% for attraction in destination.attraction_set.all %}
		<a href="{% url 'attractions_detail' destination.id attraction.id %}">
			<div class="card-content col s3 offset-s2">
				{{ attraction.name }}
			</div>
		</a>
	{% endfor %}
</div>

{% endblock %}