{% extends 'base.html' %}
{% block content %}


<h1 class="detail-header">{{ destination.city }}</h1>
<div class="detail-photo" >
	<img src="{{ destination.photo }}">
</div>
<div>
	<!-- <p>{{ destination.country }}</p> -->
	<p>City: {{ temperature_time_zone.city }}</p>
	<p>Temp: {{ temperature_time_zone.temp }}</p>
	<!-- <p>test: {{ temptimezone }}</p>
	<p>Temperature Farenheit: {{ temperatureF }}</p>
	<p class="description">{{ destination.location_description }}</p> -->
</div>

<div class="row">
	{% for attraction in destination.attraction_set.all %}
	<div class="col s3 m3">
		<div class="card">
			<div class="card-image">
				<img src="{{ attraction.photo }}">
			</div>
			<a href="{% url 'attractions_detail' destination.id attraction.id %}">
				<div class="card-content s4 m4">
					{{ attraction.name }}
				</div>
			</a>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}