{% extends 'base.html' %}
{% block content %}

<h1 class="detail-header">Destinations</h1>

<div class="row">
	{% for destination in destinations %}
	<div class="col s6 m6">
		<div class="card ">
			<div class="card-image">
				<img src="{{ destination.photo }}">
			</div>
			<div class="card-content">
				<span class="card-title">{{ destination.city }}</span>
			</div>
			<div class="card-action">
				<a href="{% url 'detail' destination.id %}">Details</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}