body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #f7f9fb;
}

main {
	flex: 1 0 auto;
	margin: 10px;
}

.nav-wrapper {
	background-color: #31708e !important;
}

.container {
	margin: 0 auto;
	display: border-box;
}

footer.page-footer {
	padding-top: 0;
	text-align: right;
}

footer {
	background-color: #31708e;
}
