{% extends 'base.html' %}
{% block content %}

<h1 class="detail-header">{{ attraction.name }}</h1>
<div class="detail-photo">
	<img src="{{ attraction.photo }}">
</div>
<div>
	<div class="row">
		<div class="card key-info col s4 offset-s4">
			<h5 class="detail-header">Key info:</h5>
			<p>City: {{ attraction.location }}</p>
			<p>Price: {{ attraction.price }}</p>
			<p><a href="{& attraction.website &}"> {{ attraction.website }}</a></p>
		</div>
	</div>
	<div>
		<p class="description">{{ attraction.description }}</p>
	</div>
</div>
<div class="container">
	<div class="col s6">
		<form action="{% url 'add_review' destination.id attraction.id%}" method="POST">
			{% csrf_token %}
			{{ review_form.as_p }}
			<input type="submit" class="btn" value="Add Review">
		</form>
		<table class="striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Rating</th>
					<th>Review</th>
				</tr>
			</thead>
			<tbody>
				{% for review in attraction.review_set.all %}
				<tr>
					<td>{{review.date}}</td>
					<td>{{review.get_rating_display}}</td>
					<td>{{review.review_text}}</td>
					<td><a href="{% url 'reviews_update' destination.id attraction.id review.id %}">Edit</a></td>
					<td><a href="{% url 'reviews_delete' destination.id attraction.id review.id %}">Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script>
	const dateEl = document.getElementById('id_date');
	M.Datepicker.init(dateEl, {
		format: 'yyyy-mm-dd',
		defaultDate: new Date(),
		setDefaultDate: true,
		autoClose: true
	});

	const selectEl = document.getElementById('id_rating');
	M.FormSelect.init(selectEl);
</script>

{% endblock %}